body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	cursor: pointer;
}

 body
 {
	background-color: rgb(255, 255, 255);
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	height: 100vh;
 	margin: 0;
 }

 
#svg {
	width: 100%;
	height: 100%;
	animation: fade_in 0.8s linear forwards;	
}

* {
	overflow: visible;
	box-sizing: border-box;
}

#svg svg {
	transform-box: border-box;  
	transform-origin: center;
}

#svg rect {
	transform-box: fill-box;
	transform-origin: center;
	animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	animation-iteration-count: infinite;
	opacity: 0;
}

svg path {
	transform-box: fill-box;
}


@keyframes fade_in_out {
	0% {
		opacity: 0%;
		transform: translateY(200%) scale(0.7);
	} 15%, 40% {
		opacity: 1;
		transform: translateY(0) scale(1);
	} 55%, 100% {
		opacity: 0%;
		transform: translateY(-200%) scale(0.7);
	}
}

@keyframes fade_in {
	0%, 60% { opacity: 0; }
	100% { opacity 1; }
}



/*----------------------------------------------------------------------------------------------------*/
.art
{
    position: relative;
	z-index: 1;
	top: -645px;
}
canvas 
{
    background-color: #fff;
    border: 5px solid rgb(21, 21, 47);
}
.toolbox 
{
	background-color: rgb(61, 55, 255);
	border: 5px solid  rgb(0, 0, 0);
	display: flex;
	width: 383px;
	padding: 1rem;
	margin-top: -650px;
	position: relative;
	z-index: 1;
}

.toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.50rem;
    cursor: pointer;
    border-radius: 50%;
}

.toolbox > *:last-child {
    margin-left: auto;
}
