body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
    background-color: #090430;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Lumanosimo', cursive;
    width: 100%;
    z-index: 2;
}

.menu {
    width: 100%;
    margin: 0 auto;
}

nav {
    float: right;
    margin: 8px;
}

nav ul li {
    list-style: none;
    position: relative;
    float: left;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

nav ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(0, 22, 117, 1);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.4s ease-out;
}

nav ul li:hover::before {
    width: 100%;
}

#svg {
	width: 100%;
	height: 100%;
	animation: fade_in 0.8s linear forwards;	
}

* {
	overflow: visible;
	box-sizing: border-box;
}

#svg svg {
	transform-box: border-box;  
	transform-origin: center;
}

#svg rect {
	transform-box: fill-box;
	transform-origin: center;
	animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	animation-iteration-count: infinite;
	opacity: 0;
}

svg path {
	transform-box: fill-box;
}

@keyframes fade_in_out {
	0% {
		opacity: 0%;
		transform: translateY(200%) scale(0.7);
	} 15%, 40% {
		opacity: 1;
		transform: translateY(0) scale(1);
	} 55%, 100% {
		opacity: 0%;
		transform: translateY(-200%) scale(0.7);
	}
}

@keyframes fade_in {
	0%, 60% { opacity: 0; }
	100% { opacity 1; }
}

/*----------------------------------------------------------------------------------------------------*/
.art {
    position: relative;
	z-index: 1;
	top: -645px;
}

canvas {
    background-color: #fff;
    border: 5px solid rgb(0, 0, 0);
    cursor: url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Cursors/GhostHover.cur"), auto;
}

.toolbox {
	background-color: rgb(61, 55, 255);
	border: 5px solid  rgb(0, 0, 0);
	display: flex;
	width: 383px;
	padding: 1rem;
	margin-top: -650px;
	position: relative;
	z-index: 1;
}

.toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.50rem;
    border-radius: 50%;
    cursor: pointer;
}

.toolbox > *:last-child {
    margin-left: auto;
}

footer {
    background-color: #090430;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Lumanosimo', cursive;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    margin-top: 222px; /* Ajusta este valor según lo necesites */
}

footer h1 {
    color: aqua;
    font-family: 'Pixelify Sans', cursive;
}

footer p {
    font-family: 'Pixelify Sans', cursive;
    color: #ff0000;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #1e00ff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: rgb(122, 0, 0);
}

.footer-bottom {
    background: red;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
